.pagina {    
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    font-family: sans-serif;
}

.formulario {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.error {  
    border: 2px solid #b00020;
    box-shadow: 0 0 10px #b00020;
    transition: 0.3s ease;
}

.mat-icon {
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
}

.eliminar {
 background-color: #df0101;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.eliminar:hover {
  background-color: #990000;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.contenedor {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.lista {
  border: solid 1px #000000;
  min-height: 76px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.tarea {
  padding: 20px 10px;
  border-bottom: solid 1px #000000;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

:host {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    background-color:beige;
}