<form [formGroup]="fiesta" (ngSubmit)="mostrar()">
    <div>
        <div>
            <label for="nombre">Nombre:</label>
            <input id="nombre" formControlName="nombre">
                @if (fiesta.controls['nombre'].touched){
                    <small class ="error">
                        @if (fiesta.controls['nombre'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                        @if (fiesta.controls['nombre'].hasError('minlength')) {
                            Tres letras solas van a sentirse aterradas ¿Que tal si agregas mas?
                        }
                    </small>
                }
        </div>

        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email">
                @if (fiesta.controls['email'].touched){
                    <small class ="error">
                        @if (fiesta.controls['email'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                        @if (fiesta.controls['email'].hasError('email')) {                            
                            🩸 Ese correo parece maldito… revisa el formato
                        }
                    </small>
                }
        </div>

        <div>
            <label for="tipoInvitado">Tipo de invitado:</label>
            <input id="tipoInvitado" formControlName="tipoInvitado">
                @if (fiesta.controls['email'].touched){
                    <small class ="error">
                        @if (fiesta.controls['email'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                    </small>
                }
        </div>

        <div>
            <label for="fechaLlegada">Fecha de llegada:</label>
            <input formControlName="fechaLlegada" type="date" matInput>
                @if (fiesta.controls['email'].touched){
                    <small class ="error">
                        @if (fiesta.controls['email'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                    </small>
                }
        </div>


    </div>

</form>

