<form [formGroup]="fiesta" (ngSubmit)="comprobar()">
    <div class = "pagina">
        <h1>Fiesta de Conde Chibi</h1>
        <div class="form">
            <strong class="formulario" for="nombre">Nombre: </strong>
            <input id="nombre" formControlName="nombre" [ngClass]="{'error-input': fiesta.controls['nombre'].touched && fiesta.controls['nombre'].invalid}">
                @if (fiesta.controls['nombre'].touched){
                     <small class ="error">
                        @if (fiesta.controls['nombre'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                        @if (fiesta.controls['nombre'].hasError('minlength')) {
                            🐈‍⬛ Tres letras solas van a sentirse aterradas ¿Que tal si agregas mas?
                        }
                    </small>
                }
        </div>

        <div class="form">
            <strong class="formulario" for="email">Email: </strong>
            <input id="email" formControlName="email" [ngClass]="{'error-input': fiesta.controls['email'].touched && fiesta.controls['email'].invalid}">
                @if (fiesta.controls['email'].touched){
                    <small class ="error">
                        @if (fiesta.controls['email'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                        @if (fiesta.controls['email'].hasError('email')) {                            
                            🩸 Ese correo parece maldito… revisa el formato
                        }
                    </small>
                }
        </div>

        <div class="form">
           <strong class="formulario" for="tipoInvitado">Tipo de invitado: </strong>
                <select id="tipoInvitado" formControlName="tipoInvitado" class="form-select" [ngClass]="{'error-input': fiesta.controls['tipoInvitado'].touched && fiesta.controls['tipoInvitado'].invalid}">
                    <option value="">-- Selecciona un tipo --</option>
                    <option value="vampiro">Humano🕵️</option>
                    <option value="fantasma">Fantasma👻</option>
                    <option value="zombi">Vampiro 🧛‍♂️</option>
                    <option value="bruja">Bruja🧙‍♀️</option>
                </select>

                @if (fiesta.controls['tipoInvitado'].touched && fiesta.controls['tipoInvitado'].hasError('required')) {
                    <small class="error">
                        👻 Este campo da más miedo vacío, ¡rellénalo!
                    </small>
                }
        </div>

        
        <div class="form">
            <strong class="formulario" for="disfraz">Disfraz: </strong>
            <input id="disfraz" formControlName="disfraz" [ngClass]="{'error-input': fiesta.controls['disfraz'].touched && fiesta.controls['disfraz'].invalid}">
                @if (fiesta.controls['disfraz'].touched){
                     <small class ="error">
                        @if (fiesta.controls['disfraz'].hasError('required')) {
                            👻 Este campo da más miedo vacío, ¡rellénalo!
                        }
                    </small>
                }
        </div>

        <div class = form>
            <strong class="formulario" for="fechaLlegada">Fecha de llegada: </strong>
            <input formControlName="fechaLlegada" [ngClass]="{'error-input': fiesta.controls['fechaLlegada'].touched && fiesta.controls['fechaLlegada'].invalid}" type="date" matInput>
                @if (fiesta.controls['fechaLlegada'].touched && fiesta.controls['fechaLlegada'].hasError('required')){
                    <small class ="error">
                        👻 Este campo da más miedo vacío, ¡rellénalo!
                    </small>
                }
        </div>

        <div>
            <strong for="aceptaReglas">Prometo no morder a los demás invitados:</strong>
            <mat-checkbox class="checkbox" formControlName="aceptaReglas" [ngClass]="{'error-input': fiesta.controls['aceptaReglas'].touched && fiesta.controls['aceptaReglas'].invalid}"></mat-checkbox>
                    @if (fiesta.controls['aceptaReglas'].touched && fiesta.controls['aceptaReglas'].invalid){
                        <small class ="error">
                            👻 Este campo da más miedo vacío, ¡marca la casilla!
                        </small>
                    }
        </div>


        <div>
            <strong class="formulario">
                @if (segundos > 0) {
                    ⏳ Halloween sera dentro de {{ mensajeHalloween }} segundos
                }
                @else {
                    🕛 ¡La noche de los bugs ha comenzado!
                    <br>
                    <img class ="imagen" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Ubisoft_logo.svg">
                }
            </strong>
        </div>
        

        @if (mensaje) {
            <div class="formulario" class="mensaje">
                <strong> {{ mensaje }} </strong>
            </div>
}

    <button type="submit">Enviar formulario</button>

    <button type="button"(click)="resetear()">Resetear</button>

    </div>

</form>

