<div class="pagina" [class.boost-active]="game.isBoostActive"> 
    <div class="main-game-area">
        <div class="container">
            <h1>🪙 Clicker super chulo (mentira) 🪙</h1>
            <h2>Total: {{ game.formatNumber(game.monedas) }}🪙</h2>
            <h3>Por click: {{ game.monedasPerClick }}🪙</h3>
            <h3>Por segundo: {{ game.formatNumber(game.monedasPerSecond) }}🪙</h3>
            <h3 *ngIf="game.isBoostActive" style="color: gold; text-shadow: 0 0 5px black;">
                🌟 ¡Boost Activo! x{{ game.boostMultiplier }} ({{ game.boostRemainingTime }}s) 🌟
            </h3>
        </div>
        <div class="clicker-wrapper">
            <button class="moneda" (click)="game.clickMoneda()">
                <img src = '/images/clicker/Moneda.png'>
            </button>
        </div>

        <button *ngIf="game.isPowerUpVisible == true" 
                class="power-up-btn" 
                [style.top]="game.powerUpPosition.top"
                [style.left]="game.powerUpPosition.left"
                (click)="game.activateBoost()">
             <img src = '/images/clicker/Manjon_Feliz.png'>
        </button>
    </div>


    <div class="upgrade-panel"> 
        <button class = "reset" (click)="game.resetGame()">🔁 Resetear juego</button>

        <button class = "upgrade" (click)="game.mejorarClick1()">⬆️ +1 por click ({{ game.formatNumber(50 * (game.mejoraClick1)/2) }}🪙) <small>Comprados: {{game.mejoraClick1}}</small></button> 
        <button class = "upgrade" (click)="game.mejorarAuto1()">🤖 +1 por segundo ({{ game.formatNumber(20 * (game.mejoraAuto1)) }}🪙) <small>Comprados: {{game.mejoraAuto1-1}}</small></button>
        <button class = "upgrade" (click)="game.mejorarAuto2()">🤖 +10 por segundo ({{ game.formatNumber(100 * (game.mejoraAuto2)) }}🪙) <small>Comprados: {{game.mejoraAuto2-1}}</small></button>
        <button class = "upgrade" (click)="game.mejorarAuto3()">🤖 +100 por segundo ({{ game.formatNumber(500 * (game.mejoraAuto3)) }}🪙) <small>Comprados: {{game.mejoraAuto3-1}}</small></button>
        <button class = "upgrade" (click)="game.mejorarAuto4()">🤖 +1.000 por segundo ({{ game.formatNumber(2500 * (game.mejoraAuto4)) }}🪙) <small>Comprados: {{game.mejoraAuto4-1}}</small></button>
        <button class = "upgrade" (click)="game.mejorarAuto5()">🤖 +10.000 por segundo ({{ game.formatNumber(12000 * (game.mejoraAuto5)) }}🪙) <small>Comprados: {{game.mejoraAuto5-1}}</small></button>
        <button class = "upgrade" (click)="game.mejorarAuto6()">🤖 +25.000 por segundo ({{ game.formatNumber(30000 * (game.mejoraAuto6)) }}🪙) <small>Comprados: {{game.mejoraAuto6-1}}</small></button>
    </div>
</div>