.fondo {
  background-color: rgb(136, 211, 255);
}

.titulo {
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.opcion {
  align-items: right;
}

.nav-halloween {
  background-color: purple;
  color: white;
}

@media (min-width:900px) {
  .opcion1 {
    display: none;
  }
}

@media (max-width:900px) {
  .opcion2 {
    display:none;
  }
}