.fondo {
  background-color: rgb(136, 211, 255);
}

.barra {    
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

.desplegable {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

.toggles {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}
.nav-halloween {
  background-color: purple;
  color: white;
}

@media (min-width:900px) {
  .pgrande {
    display: none;
  }
}

@media (max-width:900px) {
  .ppequeño {
    display:none;
  }
}