.ordenar {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 75px;
}

.titulo {
  text-align: center;
  font-size: 75px;
  font-weight: 1500;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

:host {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  transition: background-image 0.5s ease-in-out;
}