.pagina {
  background-image: url(/images/personajes/Fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}


.ordenar {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 75px;
}

.titulo {
  text-align: center;
  font-size: 75px;
  font-weight: 1500;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

