.pagina{
    height: 100vh;
    margin: 0;
}

.chibi{
    width: 100px;
    height: 100px;
    background-image: url('/images/carrera/anubis.png');
    cursor: pointer;
    animation: run 1s steps(12) infinite;
}
.chibi2{
    width: 100px;
    height: 100px;
    background-image: url('/images/carrera/old-guy.png');
    animation: run 1s steps(12) infinite, animacion1 9.1s infinite;
}
.chibi3{
    width: 100px;
    height: 100px;
    background-image: url('/images/carrera/hell-knight.png');
    animation: run 1s steps(12) infinite, animacion1 8s infinite;
}
.chibi4{
    width: 100px;
    height: 100px;
    background-image: url('/images/carrera/pirate.png');
    animation: run 1s steps(12) infinite, animacion1 7s infinite;
}
.chibi5{
    width: 100px;
    height: 100px;
    background-image: url('/images/carrera/succubus.png');
    animation: run 1s steps(12) infinite, animacion1 6s infinite;
}

:host {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: beige;
  height: 100vh;
  transition: background-image 0.5s ease-in-out;
}

@keyframes animacion1{
    0%{ 
        transform: translateX(0) scaleX(1);   
    }
    25%{
        transform: translateX(500px) scaleX(1); 
    }
    26%{
        transform: translateX(500px) scaleX(-1)
    }
    75%{
        transform: translateX(-500px) scaleX(-1);
    }
    76%{
        transform: translateX(-500px) scaleX(1);
    }
    0%{ 
        transform: translateX(0);   
    }
}


@keyframes run{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:-1200px;
    }
}