.tabla {
    width: 100px;
    height: 200px;
    display: grid;
    align-items: center;
    gap:1px;
    grid-template-columns: repeat(3, 1fr);;
}

.cuadrado {
    width: 100px;
    height: 100px;
    display: grid;
    align-items: center;
    background-color: aqua;
}

.circulo {
    width: 75px;
    height: 75px;
    margin: 15px;
    border-radius: 50%;
    border: solid 2px black;
    align-items: center;
}

.rojo {
    background-color: red;
}

.vacio {
    background-color: white;
}

.texto {
    text-align: center;
    justify-content: center;
    font-size: larger;    
}

.body {
    text-align: center;
    justify-content: center;
}

div > div {
    padding: 10px;
    border: solid 2px;
}