html {
    overflow: hidden;
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
}
:host {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    transition: background-image 0.5s ease-in-out;
    animation: fondo 10s linear infinite;
}